<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<footer>
			<ul>
				<li>&copy; 2014 UncleSam. All rights reserved.</li>
				<li><i class="fa fa-phone"></i> 15888888888</li>
				
				<br>

				<!-- *****************************************************************************************
				The "Powered by Type & Grids" link in the footer is required in the Free version
				typeandgrids.com/pirates -->
				<li >
					Powered by
					<a target="_blank" href="http://www.farbox.com">∷Farbox∷</a>
					<br>
					Themed by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a>
					<br>
					
				</li>
				<!--  ************************************************************************************ -->
				
				
			</ul>
			<!--<div class="social-icons">
				<a href="http://www.twitter.com/typeandgrids" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
				<a href="http://www.facebook.com/typeandgrids" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
			</div>-->
		</footer>
	</div>
</div>